body {
  font-family: Gochi Hand;
  font-size: 16px;
  background-color: blue;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe2KgxIUXW1zE473mRV74MN29cWagasUV9JqMCE2dqowS5o5lUJg");
  background-repeat: no-repeat;
  background-size: cover;
  color: blue;
}

h1, h2, h3 {
  color: red;
}

h2 {
  text-align: center;
}
#new-score, #new-name {
  width: 20em;
}
