body {
  font-family: Gochi Hand;
  font-size: 16px;
  background-color: blue;
  background-image: url("https://images6.alphacoders.com/505/505034.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: blue;
}

h1, h2, h3 {
  color: red;
}

h2 {
  text-align: center;
}
#new-score, #new-name {
  width: 20em;
}
